.main__container {
    width: 90%;
    // height: 90vh;
    margin: 10px auto 0px;
    padding: 10px 0 10px;
    background-color: #683ab786;
    border-radius: 10px;
}
.main__header{
    color: #fff;
    // color: #683ab786;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
}
.main__groups-wpar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    justify-content: space-evenly;
}