@import '@angular/material/prebuilt-themes/indigo-pink.css';

.group__wrap {
    
    // max-width: 90%;
    // max-width: 200px;
    // max-width: 140px;
    // width: 170px;
    width: 200px;
    // margin: 20px auto 0;
    margin: 10px;
    outline: 4px solid lightgreen;
}
.group__tab-wrap {
    // max-width: 90%;
    margin: 0 auto;
    outline: 4px solid red;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: flex-start;
    justify-content: space-around;
    p {
        display:flex;
        align-items: center;
        justify-content: center;
        // width: 50px;
        width: 60px;
        height: 50px;
        margin: 10px;
        font-size: 1.6em;
        color: crimson;
        font-weight: bold;
        outline: 4px solid lightgreen;
    }
}